ul li{
    display:inline-block
  }
  
  a{
    text-decoration:none;
    padding:10px;
  }
  
  a:hover{
    color:red;
  }
  
  ul li:hover::before, ul li:hover::after{
    width:100%;
  }
  
  ul li::before,ul li::after{
    content:"";
    display:block;
    height:2px;
    background:red;
    width:0;
    transition: width 0.5s;
    margin:5px auto;
  }
  
  ul li::before{
    margin:5px auto 5px 0;
    transition: width 0.5s 0.5s;
  }
  ul li::after{
    margin:5px 0 5px auto
  }