// Colores
$color-fuente-body: #212529;
$color-fondo-1: #f0f3f1;
$color-section: #334252;
$color-texto: #5e6271;
$color-small: #8f96a8;
$color-fondo-2: #fff;
$color-span-a: #f75940;
$color-turquesa: #3dc7be;

// Tipografia
$fuente-1: 'Hind', sans-serif;
$font-w1: 400;
$font-w2: 500;
$font-w3: 600;
$font-w4: 700;