
@if ($sustentable){
// Colores
$color-fuente-body: #454f58 !global;
$color-fondo-1: #e3faeb !global;
$color-section: #5c7692 !global;
$color-texto: #7f86a1 !global;
$color-small: #c6cee4 !global;
$color-fondo-2: rgb(250, 237, 237) !global;
$color-span-a: #f89080 !global;
$color-turquesa: #4df0e5 !global;
// Tipografia
$fuente-1: 'Roboto', sans-serif !global;
$font-w1: 300 !global;
$font-w2: 400 !global;
$font-w3: 500 !global;
$font-w4: 700 !global;
}